body {
	background-image: url('../images/galactic-dark.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
}
header h1 {
	font-size: 44px;
	color: transparent;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #ffffff;
	font-weight: bold;
}
main {
	min-height: 50vh;
	padding-bottom: 120px;
}
/**
* Search input
*/
.input-group {
	width: clamp(30%, 400px, 100%);
}
/**
* Search result
*/
.location img {
	height: 40px;
}
.location .date {
	font-size: 18px;
	font-weight: normal;
}
/* .location .time {
	font-size: 14px;
	font-weight: normal;
} */
.status-image {
	width: 100px;
	height: 100px;
	padding: 7px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background:rgba(200, 200, 200, 0.7);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}
.status-image img {
	max-height: 100%;
	max-width: unset;
	width: auto;
}
.temperature {
	font-size: 40px;
}
.temperature img {
	height: 60px;
}
.extra-info {
	background: rgba(20, 20, 20, 0.5);
	border: 1px solid #777;
	border-radius: 10px;
	width: clamp(30%, 600px, 100%);
	margin: 10px auto 0;
	text-align: center;
	backdrop-filter: blur(5px);
}
.extra-info > p {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	display: inline-block;
	margin: 0;
	padding: 4px 10px;
	font-size: 15px;
	line-height: 1;
}
.label img {
	height: 24px;
}
.data-notice {
	font-size: 14px;
	margin-bottom: -1px;
	white-space: nowrap;
}
/**
* Footer
*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(72, 61, 139, 0.9);
	z-index: 9;
	backdrop-filter: blur(5px);
}

/* -------------------------
 * Responsive
------------------------- */
@media (max-width: 375px) {
	input.form-control::placeholder {
		font-size: 13px;
	}
	.data-notice {
		font-size: 12px;
	}
}